<html>
    <head>
    {% if title %}
        <title>{{title}} - Microblog</title>
    {% else %}
        <title>Microblog</title>
    {% endif %}
    </head>
    <body>
        <div> Microblog:<a href='/index'>Home</a> </div>
        <hr>
        {% with message = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for messafe in messages %}
                <li> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>

